global
    maxconn 10000

defaults
    mode http
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend http_in
    bind *:9999
    default_backend api_servers

backend api_servers
    balance roundrobin
    server api1 /tmp/api1.sock maxconn 5000
    server api2 /tmp/api2.sock maxconn 5000